[run]
source = app
omit = 
    */venv/*
    */test*
    */migrations/*
    */__pycache__/*
    */.*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError

[html]
directory = coverage_html
